$green900: hsl(183, 100%, 15%);
$green800: hsl(183, 85%, 21%);
$green750: hsl(183, 79%, 24%);
$green400: hsl(172, 67%, 45%);
$green200: hsl(173, 61%, 77%);

$grey600: hsl(180, 25%, 32%);
$grey550: hsl(180, 18%, 40%);
$grey500: hsl(186, 14%, 43%);
$grey400: hsl(184, 14%, 56%);
$grey300: hsl(184, 19%, 68%);
$grey200: hsl(185, 41%, 84%);
$grey50: hsl(189, 47%, 97%);

$white: hsl(0, 100%, 100%);
$orange400: hsl(13, 70%, 60%);
